
active sofware Code+
software Inventrory Number {pk} +
Operating System+
Version+
(aka2)Publisher +
(ak3) Software Category  +
Memory Required +
Computer Brand +
Computer Model +
Site License +
Number of  Copies +
Installation Computer 
Hard Drive 
Second Hardrive 
Optical Drive 

